:root{
    --color-blue:#345FF6;
    --color-gunmetal: #253347;
    --color-dark-electric-blue: #5E6E85;
    --color-white: #FFFFFF;

}


@font-face {
    font-family: 'Inter-Regular';
    src: url('/assets/fonts/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('/assets/fonts/static/Inter-SemiBold.ttf');
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body{
    font-family: "Inter-regular", sans-serif;
    height: 100vh;
    color: var(--color-gunmetal);

}

body :before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to bottom right, white, #e7f5fe, #d7e7fe);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom-left-radius: 50px; /* Ajustez la valeur selon vos besoins */
    border-bottom-right-radius: 50px; /* Ajustez la valeur selon vos besoins */
    z-index: -1; /* Pour s'assurer que le pseudo-élément est derrière le contenu */

}



/* HEADER */

header{


    
    text-align: center;
    
    border-radius: 0 0 2rem 2rem;
    padding-bottom: 2rem;

}

header > img {
    margin: auto;
    padding-top:  2rem;
}

h1{
    font-size: 3rem;
    line-height: 3rem;
    margin: 2rem;
    font-weight: 700;
}

h2{
    margin: 1rem 0rem;
    font-size: 1.2rem;
    font-weight: 600;
}

header >p {
    font-weight: 200;
    margin: 0 1rem 2rem 1rem;
}


h3{
    font-family: 'Inter-SemiBold', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 2rem;
    
    
}
/* MAIN */

main{
    padding-bottom: 5rem;
}

main > img {
    width: auto;

}

.main > p {
    padding: 0rem 2rem;
}


.main > article{
    background-image: linear-gradient(to right, hsl(184, 95%, 92%, 0%), hsl(216, 95%, 92%, 25%));
    padding: 0rem 2rem; 
}


.formulaire {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}

.container-metric{
    margin-bottom: 2rem;
}

.container-metric label {  
    margin-right: 2rem; 
}


.height-form , .weight-form{
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.height-form > input {
    width: 100%;
    padding: 0.8rem;
    margin: 1rem 0;
}
.weight-form > input {
    width: 100%;
    padding: 0.8rem;
    margin: 1rem 0;
}
.container-height-weight {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.total > p{
    color: var(--color-white);
}

.total {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 1rem ;
    padding: 1.5rem;
    margin: 2rem ;
    width: 100%;
}
.total > span{
    font-size: 1.5rem;
}


input{
    border-radius: 10px;  
}

.container-bmi-meaning-text{
    margin: 0 3rem;
}

section.main {
    margin-top: 4rem;
}

p {
    color: var(--color-dark-electric-blue);
    margin: 1.5rem 0;
    font-size: 0.9rem;   
}


article >img {
    margin: 1.2rem 0;
}

.limitations{
    text-align: center;
}

.limitations-of-bmi >article >div{
display: flex;
gap: 1rem;
align-items: center;

}

.limitations-of-bmi > article {
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 border-radius: 20px;
 padding: 1rem;
 margin: 1rem 2rem;

}
.limitations-of-bmi > p {
    text-align: center;  
    padding: 0rem 2rem;
}



/* MEDIA QUERIES */

/* tablet*/ 

@media screen and (min-width: 768px){


.formulaire{
    margin-left: 3rem;
    margin-right: 3rem;
    display: block;
    }
.total {
    border-radius: 1rem 7rem 7rem 1rem ;
}

.container-height-weight{
    flex-direction: row;
    gap: 3rem;
}

body :before {
    height: 60%;
}

.img-meaning{
    width: 50%;
}

.container-bmi-meaning{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;   
}

 h3 {
    padding: 0;
}

.main article {
  display: flex;
  gap: 3rem;
}

.limitations-of-bmi{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:  3rem;
    gap: 1rem;
   
}
.limitations-of-bmi > h3 {
    grid-column: 1/5;
}
.limitations-of-bmi > p{
    grid-column: 1/5;
}
.limitations-of-bmi > article{
    grid-column: span 2;
}

.limitations-of-bmi >article:nth-last-child(1) {
    grid-column: 2/4;
}

.limitations-of-bmi > article {
    margin: 0;
}

}